{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Pisco Chilcenero Tabernero</h1>
            <p>
                Este Pack Chilcenero esta en oferta en un precio super especial de 37.9 nuevos soles
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/Pisco-Chilcanero.jpeg" class="img-thumbnail" >
        </div>

    </div>

    

{{> footer}}